.SearchBar-Box {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}


.Printer {
    font-size: 20px;
    margin-left: 5px;
}

.LuEyeBtn {
    font-size: 20px;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 16px;
    margin-top: 3px;
    background-color: transparent;
}

.ModelBox_none {
    display: none;
}

.ModelBox {
    display: block;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.548);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}


.ModelCont {
    width: 550px;
    height: 100%;
    padding: 10px;
}

.ModTitle {
    width: 100%;
    height: 30px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnPrints {
    width: 100%;
    height: 40px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.searchingBox {
    width: 100%;
    height: 50px;
    background: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
    position: relative;
    overflow: hidden;
}


.searchingBox>a>h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 5px;
    color: #fff;
}

.searchingBox>h4>svg {
    font-size: 20px;
}

.search {
    width: 70%;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
}

.search>div {
    display: flex;
    align-items: center;
    color: gray;
    gap: 3px;
}

.search>input {
    width: 100%;
    text-indent: 12px;
    border: none;
    outline: none;
    font-size: 14px;
}


.collapsedItems_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    border-radius: 6px;
    background: #efefef;
    padding: 0 10px;
    cursor: pointer;
}

.collapsedItems_IntoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    border-radius: 6px;
    background: #d8d8d8;
    padding: 0 25px;
    cursor: pointer;
    height: 30px;
}

.collapsedItems_IntoBox:hover {
    box-shadow: 0 0 3px dodgerblue;
}

.collapsedItems_IntoBox>p {
    font-size: 14px;
    margin-top: 13px;
}

.collapsedItems_p:hover {
    box-shadow: 0 0 3px dodgerblue;
}

.collapsedItems_p>p {
    font-size: 14px;
    margin-top: 10px;
}

.collapsedItems_p>p:nth-child(1),
.collapsedItems_p>p:nth-child(2),
.collapsedItems_p>p:nth-child(3) {
    width: 30%;
}

.retseptList {
    width: 80%;
    margin: auto;
    padding: 5px; 
    border-radius: 0 0 7px 7px;
    background: #d1d1d1;
}

.retseptList>p {
    font-size: 13px;
}

.texCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.texCenter>i {
    text-align: center;
    font-size: 13px;
    color: #565656;
}