.DatePicer {
    height: 32px;
    width: 100%;
    border: .5px solid rgb(214, 214, 214);
    border-radius: 6px;
    text-indent: 10px;
    transition: .5s;
}
.DatePicer::placeholder{
    color:#c6c6c6;
}
.DatePicer:hover {
    border: .5px solid dodgerblue;

}