.imgSingle_box {
    width: 100px;
    height: 100px;

}

.imgSingle_box>img {
    width: 100%;
    height: 100%;
}

.sing_rep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_doctorINF {
    /* width: 100%; */
    height: 40px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
border-bottom: .5px solid gray;
}

.me_docBox {
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.me_docBox>b {
    font-size: 16px;
    line-height: 17px;
}

.me_docBox>div {
    font-size: 14px;
    color: #313131;
}