.imgSingle_box {
    width: 100px;
    height: 100px;

}

.imgBox_doc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-profileOv {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
}

.user-profileOv>img {
    width: 100%;
    height: 100%;
}

.summary-textOv {
    color: #fff;

}

.imgBox_doc span {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}