.Main-Lay {
    padding: 10px;
    height: 100vh;
}

.Layout {
    display: flex;
}

.Sidebar {
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(51, 1, 1);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: #fff;
}

.content {
    width: 100%;
    height: 100%;

}

.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background: #fff;
}

.body {
    height: 85vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background: #fff;
}

.login>h6 {
    font-size: 1.5rem;
    margin: 20px 0px;
    text-align: center;
}

.menu {
    margin-top: 30px;
}

.menu-item {
    margin-top: 50px;
}


.menu-item>a {
    color: #fff;
    font-size: 1.2rem;
}

.menu-item>i {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 12px;
}

.active {
    background: #fff;
    padding: 10px;
}

.active i,
.active a {
    color: rgb(51, 1, 1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin: 0 15px;
}

.header-content i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.header-content a {
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 1.1rem;

}