.appointmentsTable {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.appointmentsTable thead {
    background-color: #330101;
    color: #fff;
}

.appointmentsTable tbody tr {
    border: 1px solid #000;
    height: 30px;
    padding: 0 10px;
}

.appointmentsTable tbody tr td:first-child {
    padding-left: 10px;
}

.Bem {
    position: relative;
}

.newMsg {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 12px;
    background-color: dodgerblue;
    color: #fff;
    padding: 0px 4px;
    border-radius: 40px;
}

.btn {
    font-size: 16px;
}

.box-bmi {
    width: 115px;
    /* height: 40px; */

}

.box-bmi>span {
    width: 100%;
    height: 20px;

    display: flex;
    gap: 7px;
}

.box-bmi>span>div {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;

}

.Diagram {
    transform: rotate(-89deg);
}

.checkMark {
    color: green;
    font-size: 10px;
    margin-bottom: 3px;

}

.collapsedItems {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 10px;
    border-radius: 3px;
    margin: 4px 0;
}

.collapsedItems p {
    margin-top: 16px;
}
.collapsedItems p > span {
   color: rgb(165, 165, 165);
}
.collapsedItems:hover {
    box-shadow: 0 0 6px dodgerblue;
}

.item-details {
    width: 100%;
    background: #fff;
    transition: 1s;
    padding: 10px;
    border-radius: 3px;

}

@media screen and (max-width: 890px) {
    .newMsg {
        position: absolute;
        left: 12px;
        top: -24px;
        font-size: 12px;
        background-color: #81BDEF;
        color: #fff;
        padding: 0px 4px;
        border-radius: 40px;
    }
}