.appointmentsTable {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.appointmentsTable thead {
    background-color: #330101;
    color: #fff;
}

.appointmentsTable tbody tr {
    border: 1px solid #000;
    height: 30px;
    padding: 0 10px;
}

.appointmentsTable tbody tr td:first-child {
    padding-left: 10px;
}

.Bem {
    position: relative;
}

/* .newMsg {
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 14px;
    background-color: #330101;
    color: #fff;
    padding: 1px 4px;
    border-radius: 40px;
} */